@use "./components" as *;
@use "./colors" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $dark;
  // overflow: hidden;
}

.nav {
  &-bar {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: $pure-white;
    width: 100%;    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      height: 4rem;
      margin-right: 0.5em;
    }
    p {
      color: $light-dark;
      font-size: 3rem;
    }
  }
}
.nav-mobile {
  .burger-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &__bars {
      position: relative;
      width: 3rem;
      height: 3px;
      background-color: $dark;
      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 3rem;
        height: 3px;
        background-color: $dark;
      }
      &::after {
        top: -1rem;
        left: 0;
      }
      &::before {
        bottom: -1rem;
        left: 0;
      }
    }
  }
  &__links {
    position: absolute;
    left: -100%;
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    list-style: none;
    background-color: $dark;
  }
  &-link {
    padding: 1em 2em;
    a {
      color: $pure-white;
      text-decoration: none;
    }
  }
}
.nav-desktop {
  display: none;
}

.header {
  position: relative;
  height: 40em;
  background-image: url("../../dist/img/jungle-1807476_640.jpg");
  background-size: cover;
  background-position: center;
  color: $pure-white;
  z-index: 0;

  .wrapper {
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__company {
    font-size: 2.5rem;
    font-weight: 300;
  }
  &__title {
    font-size: 3rem;
  }
}
.about-us {
  &__img {
    width: 100%;
  }
  &__text {
    padding: 2em;
    h3 {
      font-size: 2rem;
      margin-bottom: 1em;
    }
    p {
      font-size: 1.6rem;
    }
  }
}
.hero-section {
  height: 25rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../dist/img/girl-5785590_640.jpg');
  background-size: cover;
  background-position: center;
  color: $pure-white;
  z-index: 0;
  &__title {
    font-size: 2rem;
    padding: 1em 2em;
    border: 1px solid $pure-white;
  }
}

@media (min-width: 768px) {
  .about-us {
    .about-us__box {
      padding:  0 2em;
      display: flex;
    }
    &__img {
      width: 45%;
    }
    &__text {
      padding: 0 2em;
      p {
        line-height: 2.5rem;
      }
      h3 {
        font-size: 2.3rem;
      };
    }
  }
}
@media (min-width: 992px) {
  .nav {
    &-bar {
      padding: 0em;
    }
    &__logo {
      margin-left: 1em;
    }
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
    font-size: 2rem;
    &__links {
      display: flex;
      list-style: none;
    }
    &__link {
      padding: 1.5em 1em;
      margin-left: 2em;
      a {
        color: $dark;
        text-decoration: none;
      }
    }
  }
  .header {
    height: 50em;
    background-image: url('../../dist/img/jungle-1807476_1920.jpg');

    &__company {
      font-size: 3.2rem;
    }
    &__title {
      font-size: 4rem;
    }
  }
  .about-us {
  
    &__text {
      padding-left: 7em;
      p {
        font-size: 2rem;
        line-height: 3.5rem;
      }
      h3 {
        font-size: 3rem;
      }
    }
  }
  .hero-section {
    background-image: url('../../dist/img/girl-5785590_1920.jpg');
    &__title {
      font-size: 3.5rem;
      padding: 1em 4em;
    }
  }
}
